.card-3d {
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  will-change: transform;
}

.card-3d > * {
  position: relative;
  transition: transform 0.3s ease;
}

.card-3d:hover > * {
  z-index: 1;
  transform: translateZ(12px);
}

.card-3d::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (prefers-reduced-motion) {
  .card-3d {
    transform: none !important;
  }
}