
.dot-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  z-index: -1;
}

@keyframes hoverCircularMotion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
    
.dot-wrapper {
      position: absolute;
          transition: transform 0.5s ease;
}
    
.dot-track {
    transition: transform 0.5s ease;
    animation: hoverCircularMotion 2s linear infinite;
}

.dot {
  border-radius: 50%;
  transition: transform 0.5s ease;
  transform: translate(50%, 50%);
  filter: blur(0.25vmin);
}
