.dividerShouldExpand {
  transform: translateY(-100%) translateY(1px);
}

.triangle.accordion { 
  width: 20px;
  transform-origin: center -250%;
  transition: .25s ease-in-out;
}

.triangle.up {
  transform: translateY(4px) rotate(0deg);
  display: block;
}

.triangle.down {
  transform: translateY(4px) rotate(180deg);
  display: block;
}

.triangle>div { 
  width: 20px;
  height: 2px;
  background: #050E1C;
}

.dark .triangle>div {
  background: #F3F4F6;
}

.triangle>div:before {
  content: " ";
  display: block;
  width: 20px;
  height: 2px;
  background: #050E1C;
  -webkit-transform: rotate(56deg);
  -moz-transform: rotate(56deg);
  -ms-transform: rotate(56deg);
  transform: rotate(56deg);
  position: absolute;
  top: -8px;
  right: -5px;
}
.dark .triangle>div:before {
  background: #F3F4F6;
}
.triangle>div:after {
  content: " ";
  display: block;
  width: 20px;
  height: 2px;
  background: #050E1C;
  -webkit-transform: rotate(-56deg);
  -moz-transform: rotate(-56deg);
  -ms-transform: rotate(-56deg);
  transform: rotate(-56deg);
  position: absolute;
  top: -8px;
  left: -5px;
}
.dark .triangle>div:after {
  background: #F3F4F6;
}