.brand {
  -webkit-text-stroke: 2px #41ABFF;
  -webkit-text-fill-color: #0BEFFE;
  text-shadow: 3px 3px 0px  #41ABFF;
  letter-spacing: -3px;
}

.brand.mono {
  -webkit-text-stroke: 2px #F3F4F6;
  -webkit-text-fill-color: rgb(148 163 184);
  text-shadow: 3px 3px 0px  #F3F4F6;
}

.brand .segment-2,
.brand .segment-3,
.brand .segment-4 {
  margin-left: -2px;
}