@keyframes glow {
  0% {
    color: #F3F4F6;
  }
  100% {
    color: #AB46FF;
  }
}

@keyframes sway {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }

}

.link-node-text {
  animation: glow 1s linear infinite alternate;
}

.attention-chevron {
  animation: sway 0.5s linear infinite alternate;
}