@keyframes fallFromTop {
  0% {
    bottom: 100%;
  }
  60% {
    bottom: 0%;
    transform: scale(1, 1);
  }
  61% {
    transform: scale(1.08, .92);
  }
  75% {
    transform: scale(.95, 1.05);
  }
  88% {
    transform: scale(1.03, .97);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes riseFromBottom {
  0% {
    top: 100%;
  }
  60% {
    top: 0%;
    transform: scale(1, 1);
  }
  61% {
    transform: scale(1.08, .92);
  }
  75% {
    transform: scale(.95, 1.05);
  }
  88% {
    transform: scale(1.03, .97);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes slideFromRight {
  0% {
    left: 100%;
  }
  60% {
    left: 0%;
    transform: scale(1, 1);
  }
  61% {
    transform: scale(.92, 1.08);
  }
  75% {
    transform: scale(1.05, .95);
  }
  88% {
    transform: scale(.97, 1.03);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes slideFromLeft {
  0% {
    right: 100%;
  }
  60% {
    right: 0%;
    transform: scale(1, 1);
  }
  61% {
    transform: scale(.92, 1.08);
  }
  75% {
    transform: scale(1.05, .95);
  }
  88% {
    transform: scale(.97, 1.03);
  }
  100% {
    transform: scale(1, 1);
  }
}



.fallAndBounce > * {
  position: absolute;
}

.fallAndBounce.fromTop > * {
  transform-origin: bottom center;
  animation: fallFromTop 1s ease-in;
  bottom: 0;
}

.fallAndBounce.fromBottom > * {
  transform-origin: top center;
  animation: riseFromBottom 1s ease-in;
  top: 0;
}

.fallAndBounce.fromRight > * {
  transform-origin: center left;
  animation: slideFromRight 1s ease-in;
  left: 0;
}

.fallAndBounce.fromLeft > * {
  transform-origin: center right;
  animation: slideFromLeft 1s ease-in;
  right: 0;
}

.freeze {
  animation-play-state: paused !important;
}