.ad-wrapper.center > div:first-of-type {
  display: grid;
  justify-content: center;
}

.ad-wrapper.left > div:first-of-type {
  display: grid;
  justify-content: start;
}

.ad-wrapper.right > div:first-of-type {
  display: grid;
  justify-content: end;
}